@import "@fontsource/plus-jakarta-sans";

/* ==================================================
   Root Variables
================================================== */
:root {
  /* Typography */
  --font-primary: 'Plus Jakarta Sans', sans-serif;
  --font-size-sm: 0.875rem;   
  --font-size-md: 1.125rem;     
  --font-size-base: 1rem;         
  --font-size-lg: 1.25rem;        
  --font-size-xl: 1.5rem;         
  --font-size-xxl: 1.75rem;       
  --font-size-heading: 2.25rem;   

  --color-primary: #28435D;
  --color-primary-light: #25425c;
  --color-secondary: #D1A744;
  --color-secondary-light: #ffb609;
  --color-accent: #2A2D34;
  --color-white: #FFFFFF;
  --color-light: #E1E1E1;
  --color-light-alt: #F8F9FA;
  --color-form-check-focus: hsl(209deg 43% 25% / 25%);
  --color-muted: #666666;
  --color-border: #cccCCC;
  --color-black-light-1: #333333;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-md-1: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-lg-1: 1.875rem;
  --spacing-xl: 2.25rem;
  --spacing-xxl: 3.75rem;

  /* Border Radius */
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.25rem;
  --radius-xl: 1.875rem;
  --radius-xxl: 2.8125rem;
  --radius-pill: 3.125rem; 
}

/* ==================================================
   Global CSS
================================================== */
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
p, body {
    font-size: var(--font-size-base);
    text-align: justify;
}
a {
    text-decoration: none;
}

h4 {
    color: var(--color-primary);
    font-weight: 600;
}


/* ==================================================
   Utility Classes for Variables
================================================== */

/* Font Sizes */
.sh-custom-fs-sm { font-size: var(--font-size-sm); }
.sh-custom-fs-md { font-size: var(--font-size-md); }
.sh-custom-fs-lg { font-size: var(--font-size-lg); }
.sh-custom-fs-xl { font-size: var(--font-size-xl); }
.sh-custom-fs-heading { font-size: var(--font-size-heading); }

/* Background Colors */
.sh-custom-bg-primary { background-color: var(--color-primary); }
.sh-custom-bg-primary-light { background-color: var(--color-primary-light); }
.sh-custom-bg-secondary { background-color: var(--color-secondary); }
.sh-custom-bg-light-alt { background-color: var(--color-light-alt); }
.sh-custom-bg-light { background-color: var(--color-light); }
.sh-custom-bg-white { background-color: var(--color-white); } 

/* Text Colors */
.sh-custom-text-primary { color: var(--color-primary); }
.sh-custom-text-primary-light { color: var(--color-primary-light); }
.sh-custom-text-secondary { color: var(--color-secondary); }
.sh-custom-text-accent { color: var(--color-accent); }
.sh-custom-text-white { color: var(--color-white); }
.sh-custom-text-muted { color: var(--color-muted); }

/* Spacing */
.sh-custom-m-xs { margin: var(--spacing-xs); }
.sh-custom-m-sm { margin: var(--spacing-sm); }
.sh-custom-m-md { margin: var(--spacing-md); }
.sh-custom-m-lg { margin: var(--spacing-lg); }
.sh-custom-m-xl { margin: var(--spacing-xl); }
.sh-custom-m-xxl { margin: var(--spacing-xxl); }

.sh-custom-p-xs { padding: var(--spacing-xs); }
.sh-custom-p-sm { padding: var(--spacing-sm); }
.sh-custom-p-md { padding: var(--spacing-md); }
.sh-custom-p-lg { padding: var(--spacing-lg); }
.sh-custom-p-xl { padding: var(--spacing-xl); }
.sh-custom-p-xxl { padding: var(--spacing-xxl); }

.sh-custom-mt-xs { margin-top: var(--spacing-xs); }
.sh-custom-mt-sm { margin-top: var(--spacing-sm); }
.sh-custom-mt-md { margin-top: var(--spacing-md); }
.sh-custom-mt-lg { margin-top: var(--spacing-lg); }
.sh-custom-mt-xl { margin-top: var(--spacing-xl); }
.sh-custom-mt-xxl { margin-top: var(--spacing-xxl); }

.sh-custom-mb-xs { margin-bottom: var(--spacing-xs); }
.sh-custom-mb-sm { margin-bottom: var(--spacing-sm); }
.sh-custom-mb-md { margin-bottom: var(--spacing-md); }
.sh-custom-mb-lg { margin-bottom: var(--spacing-lg); }
.sh-custom-mb-xl { margin-bottom: var(--spacing-xl); }
.sh-custom-mb-xxl { margin-bottom: var(--spacing-xxl); }

.sh-custom-pt-xs { padding-top: var(--spacing-xs); }
.sh-custom-pt-sm { padding-top: var(--spacing-sm); }
.sh-custom-pt-md { padding-top: var(--spacing-md); }
.sh-custom-pt-lg { padding-top: var(--spacing-lg); }
.sh-custom-pt-xl { padding-top: var(--spacing-xl); }
.sh-custom-pt-xxl { padding-top: var(--spacing-xxl); }

.sh-custom-pb-xs { padding-bottom: var(--spacing-xs); }
.sh-custom-pb-sm { padding-bottom: var(--spacing-sm); }
.sh-custom-pb-md { padding-bottom: var(--spacing-md); }
.sh-custom-pb-lg { padding-bottom: var(--spacing-lg); }
.sh-custom-pb-xl { padding-bottom: var(--spacing-xl); }
.sh-custom-pb-xxl { padding-bottom: var(--spacing-xxl); }

/* ==================================================
   Header Classes
================================================== */
header{
    padding: var(--spacing-lg) 0;
}

.nav-cart-items-counter{
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: 0.5em;
    border: 1px solid var(--color-white);
    background: #d1a744;
    color: var(--color-white);
    padding: 1px;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

/* ==================================================
   Footer Classes
================================================== */
.footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-xxl) 0 var(--spacing-xs);
}
.footer a {
    color: var(--color-white);
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.footer-quote {
    font-size: var(--font-size-xxl);
    font-weight: 700;
}
footer h6 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-xl);
}

.scroll-to-top {
    position: fixed;
    bottom: var(--spacing-xl);
    right: var(--spacing-xl);
    display: none;
    z-index: 1000;
    width: 2.5rem;
    height: 2.8rem;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-primary-light);
    font-size: var(--font-size-xxl);
    text-align: center;
    background: var(--color-white);
    color: var(--color-primary-light);
    padding: 0;
    margin: 0 !important;
}

/* ==================================================
   Form Classes
================================================== */

.search-form input { 
    padding: var(--spacing-md) var(--spacing-md-1) !important; 
    border-radius: var(--radius-pill);
    font-size: var(--font-size-md);
}

.search-form-button {  
    position: absolute;
    right: 5px;
    top: 5px;
    line-height: 1;
}

.form-select.sort-by {
    border: 0 !important;
    padding: 0 2.5rem 0 0 !important;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--color-light);
    outline: 0;
    box-shadow: none;
}

.form-check {
    padding-left: var(--spacing-lg) !important;
}

.form-check-input:checked {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.form-check-input:focus {
    border-color: var(--color-primary-light);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--color-form-check-focus);
}

.form-section {
    border: 1px solid var(--color-light) !important;
    border-radius: var(--radius-lg);
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-lg);
}

form#multiStepForm .section-title,
.contact-title {
    font-size: var(--font-size-xxl);
}

.form-section .section-title {
    background: var(--color-primary-light);
    color: var(--color-white);
    padding: var(--spacing-md) var(--spacing-lg);
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    font-size: var(--font-size-base);
    margin-bottom: 0 !important;
}

.form-section form {
    padding: var(--spacing-xl) var(--spacing-lg);
}

.form-section label {
    font-size: var(--font-size-base);
    color: var(--color-accent);
    font-weight: 600;
    margin-bottom: var(--spacing-xs);
}

#multistepForm .form-check {
    padding-left: var(--spacing-lg) !important;
}

.form-control,
.form-select {
    padding: var(--spacing-xs) var(--spacing-md) !important;
    border: 1px solid var(--color-light);
    border-radius: var(--radius-pill);
}

textarea.form-control {
    border-radius: 1.5rem;
}

/* ==================================================
   Subpage Hero Classes
================================================== */
.inner-hero {
    padding: var(--spacing-xxl) 0;
    text-align: center;
}

/* ==================================================
   sidebar Classes
================================================== */
.sidebar {
    padding: var(--spacing-lg) var(--spacing-md);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-light);
}
.sidebar a {
    color: var(--color-primary);
}
.sidebar h5 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--color-accent);
    margin-bottom: var(--spacing-lg);
}

/* ==================================================
   Override Bootstrape Classes
================================================== */

.btn-primary {
    padding: var(--spacing-xs) var(--spacing-lg);
    border-radius: var(--radius-xl);
    background: var(--color-primary);
    border-color: var(--color-primary);
    font-size: var(--font-size-sm);
}
.btn-primary:hover {
    background: var(--color-white) !important;
    color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus-visible{
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-white) !important;
    color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}
.btn-outline-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: var(--radius-pill);
    padding: var(--spacing-sm) var(--spacing-lg-1);
    font-size: var(--font-size-lg);
    font-weight: 600;
    margin-top: var(--spacing-xxl);
}
.btn-outline-primary:hover {
    background: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus-visible{
    background: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: var(--color-white) !important;
}
/* ==================================================
   Pages Common Classes
================================================== */
.section-title {
    font-weight: bold;
    font-size: var(--font-size-heading);
    word-break: break-all;
}

.btn-yellow {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    padding: var(--spacing-md) var(--spacing-lg-1) !important;
    border-radius: var(--radius-xxl);
    font-size: var(--font-size-md);
    display: inline-block;
    text-align: center;
}

.btn-yellow:hover {
    background-color: var(--color-secondary-light);
}

.icon-box {
    padding: var(--spacing-lg) var(--spacing-md-1);
    background: #f8f9fa;
    border-radius: var(--radius-md);
    height: 100%;
}
.icon-box p {
    font-size: var(--font-size-md);
    text-align: left;
}
.icon-box i {
    font-size: var(---font-size-xxl);
    margin-bottom: var(--spacing-xs);
    color: #d4a72c;
}

section picture img{
    object-fit: contain;
    width: 100%;
}

.form-submission-status ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-submission-status ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* ==================================================
   Media Queries
================================================== */
@media (max-width:464px){
    .search-form-button {  
        right: unset;
        top: 4rem;
    }
    .search-form input::placeholder{
        text-align: center;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 1rem;
    }
    .navbar-nav li a {
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .navbar-nav li a:after {
        display: block;
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '.';
        color: transparent;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: transparent;
    }
    .navbar-nav li a:hover:after {
        -webkit-animation: navbar 1.5s ease-in forwards;
    }

    @-webkit-keyframes navbar {
        0% {
            width: 1px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 1px;
            z-index: -1;
            background: #eee;
            border-radius: 100%;
        }
        100% {
            background: #aaa;
            height: 5000%;
            width: 5000%;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 0;
        }
    }
    
    .custom-col-20 {
        width: 20%;
    }
}