.hero {
    color: var(--color-white);
    padding: 6.25rem 0;
    background-size: cover !important;
    background-position: center !important;
}

.service-card{
    overflow-wrap: break-word; 
}

.hero{
    background: url('http://127.0.0.1:8000/images/web/swizchem-banner-1x.webp') no-repeat center center;
}

@media (min-width : 768px){
    .hero{
        background: url('http://127.0.0.1:8000/images/web/swizchem-banner-2x.webp') no-repeat center center;
    }
}

@media (min-width : 992px){
    .hero{
        background: url('http://127.0.0.1:8000/images/web/swizchem-banner-3x.webp') no-repeat center center;
    }
}
